* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit";
}

body {
    padding: 2rem;
    background-color: rgb(215, 202, 236);
    min-height: 100vh;
}

.design-box {
  display: grid;
  grid-template-columns: repeat(24 , 1fr);
  grid-template-rows: repeat(8 , 1fr);
  background-color: white;
  height: 38vh;
  border: black solid 1px;
  padding-left: 1rem;
}

h1 {
  grid-column: 1 / 11;
}

h3 {
  grid-column: 1 / 6;
  margin-top: 0.5rem;
}

.box1 {
  grid-row: 3;
  grid-column: 1 / 3;
}

.background-color {
  background-color: rgb(250, 249, 250);
  width: 120px;
  height: 60px;
}

.box2 {
  grid-column: 4 / 6;
  grid-row: 3;
}

.section-title {
  background-color: rgb(118, 69, 217);
  width: 120px;
  height: 60px;
}

.box3 {
  grid-column: 7 / 9;
  grid-row: 3;
}

.section-subtitle {
  background-color: rgb(40, 13, 95);
  width: 120px;
  height: 60px;
}

.box4 {
  grid-column: 1 / 3;
  grid-row: 5;
}

.section-paragraph {
  background-color: rgb(122, 110, 170);
  width: 120px;
  height: 60px;
}

.box5 {
  grid-column: 4 / 6;
  grid-row: 5;
}

.button-color {
  background-color: rgb(31, 199, 212);
  width: 120px;
  height: 60px;
}

.design-box2 {
  display: grid;
  grid-template-columns: repeat(24 , 1fr);
  grid-template-rows: repeat(8 , 1fr);
  height: 51vh;
  background-color: white;
  margin-top: 0.8rem;
  border: black solid 1px;
  padding-left: 1rem;
}

.navbar {
  font: 16px;
  font-weight: 400;
  grid-row: 2;
}

.h1 {
  grid-row: 2;
  grid-column: 3 / 4;
  font-size: 64px;
  font-weight: 600;
}

.h2 {
  grid-row: 2;
  grid-column: 5 / 6;
  font-size: 40px;
  font-weight: 600;
}

.h3 {
  grid-row: 2;
  grid-column: 7 / 8;
  font-size: 20px;
  font-weight: 600;
}