:root {
    --hover-color: rgb(31, 199, 212, 0.65);
    --active-color: rgb(31, 199, 212, 0.85);
    --yellow: rgb(255, 178, 55);
    --white: rgb(250, 249, 250);
    --purple: rgb(118, 69, 217);
    --dark-purple: rgb(40, 13, 95);
    --light-purple: rgb(122, 110, 170);
    --cyan: rgb(31, 199, 212);
    --grey: rgb(239, 244, 245);
    --grey-border: rgb(231, 227, 235);
    --fuksia: rgb(237, 75, 158);
    --gradient: linear-gradient(139.73deg, rgb(230, 253, 255) 0%, rgb(243, 239, 255) 100%);
    --gradient-purple: linear-gradient(rgb(255, 255, 255) 22%, rgb(215, 202, 236) 100%);
  }

/* FIXING SORT BY  */
.sort-by-head {
    position: relative;
    
}

.sortFakeContainer {
    cursor: pointer;
    width: 10rem; /* width change to 100% when in his layout div */
    height: 40px;
    position: relative;
    background-color:  rgb(238, 234, 244);;
    border-radius: 16px;
    border: 1px solid rgb(215, 202, 236);
    box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
    outline: none;
    color: rgb(40, 13, 95);
    font-size: 1rem;
    font-weight: 400;
    font-family: "Kanit", sans-serif;
    left: 490px;
}


.firstcontainer > h3 > .farms {
    text-decoration: none;
    color: gray;
}


 .rightSide {
     display: inline-flex;
     position: relative;
     margin-left: 750px;
     bottom: 100px;
 }
.buttonSmall {
    display: inline-flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(122, 110, 170);
    color: rgb(255, 255, 255);
}

.buttonSmall:hover {
    background-color: rgb(122, 110, 170);
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    opacity: 0.65;

}

.buttonSmall > img{
padding-left: 6px;
}

.autoCakePlace {
    display: flex;
    flex-flow: column;
    position: relative;
    border-radius: 24px;
    background-color: white;
    height: 130px;
    width: 260px;
    bottom: 30px;
    left: 28px;
    padding: 14px;
}

.autoCakePlace > h4 {color: rgb(118, 69, 217);; margin-bottom: 20px;margin-right: 60px;}

.numberButton {
    display: flex;
    flex-flow: column;
}

.numberButton > h3 {
    position: relative;
    bottom: 10px;
}

.numberButton  {
    position: relative;
    color: var(--dark-purple);
}

.numberButton  > p {
    font-size: 12px;
    position: relative;
    bottom: 10px;
    color: rgb(119, 114, 114);
}
.numberButton > h3 >  .buttonSmall {
    background-color: var(--cyan);
    position: relative;
    width: 75px;
    height: 30px;
    left: 60px;
    top: 5px;
    
}
.buttonLarge:hover {
    background-color: white;
}

.buttonClaim {
    border-radius: 16px;
    border: 0px;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    background-color: var(--robins-color);
    color: white;
    box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
    cursor: var(--pointer);
    letter-spacing: 0.03em;
    line-height: 1;
    width: 108px;
    height: 48px;
    opacity: 1;
    margin-top: var(--margin-top);
}

    /* POOLS COLLECTION TABLE */
hr {
    border-top: 1px solid rgb(218, 209, 209);
}

.poolsBox {
 position: relative;
 border-top-left-radius: 25px;
 border-top-right-radius: 25px;
 border-bottom-left-radius: 25px;
 border-bottom-right-radius: 25px;
 background-color: rgb(249, 248, 250);
 margin-top: 10px;
 margin-left: 6%;
 margin-right: 6%;
 width: 88%;
 height: 100%;
 
 margin-bottom: 100px;
}

.singleCakeLine {
    display: flex;
    flex-flow: row;
    position: relative;
    width: 100%;
    height: 92px;
    background-color: transparent;
    cursor: pointer;
    border: 1px;
}

.first-singleCakeLine {
        display: flex;
        flex-flow: row;
        position: relative;
        width: 100%;
        height: 92px;
        background-color:transparent;
        cursor: pointer; 
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border: 1px;
}

.last-singleCakeLine {
    display: flex;
    flex-flow: row;
    position: relative;
        width: 100%;
        height: 92px;
        background-color:transparent;;
        cursor: pointer; 
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border: 1px rgb(255, 255, 255);
}



/* FIXING IMAGES  */
.cakeStake {
    display: flex;
    width: 20%;
    flex-direction: column;
    
}



.cakeStake > .imageresolution-2 {width: 48px;height: 48px;margin: 24px;}
.cakeStake > .imageresolution-3 {
    position: absolute;
   width: 24px;
   height: 24px;
   margin: 52px;
   border: 1px solid rgb(95, 88, 88);
   border-radius: 24px;
}

.cakeStake > h3 {
  display:block;
  margin-left: 80px;
  margin-top: 22px;
  font-size: 18px;
  color: rgb(40, 13, 95);
}
.cakeStake > p {
    font-size: 12.5px;
    margin-left: 80px;
    margin-top: -2px;
    color: rgb(119, 119, 121);
    font-weight: 400;
     line-height: 1.1;
     font-size: 12px;
  
}

.cakeProfit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cakeProfit > p {
    color: rgb(119, 119, 121);
    font-weight: 400;
     line-height: 1.1;
     font-size: 13px;
     margin-top: 8px;
}

.cakeProfit > p > span {
    color: rgb(119, 114, 114);
}
.ifoCredit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
}
.ifoCredit > p{
    color: rgb(119, 119, 121);
    font-weight: 400;
     line-height: 1.1;
     font-size: 13px;
     margin-top: 8px;
}

.ifoCredit > p > span {
    color: rgb(119, 114, 114);
}

.apy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 180px;
}

.apy > p {
    color: rgb(119, 119, 121);
    font-weight: 400;
     line-height: 1.1;
     font-size: 13px;
     margin-top: 8px;
}

.apy > p > span {
    font-size: 16px;
    color: rgb(40, 13, 95);
    font-weight:400;
}
.totalStaked {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
}

.totalStaked > p {
    color: rgb(119, 119, 121);
    font-weight: 400;
     line-height: 1.1;
     font-size: 13px;
     margin-top: 8px;
}

.totalStaked > p > span {
    font-size: 16px;
    color: rgb(40, 13, 95);
    font-weight:400;
}

.showDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cyan);
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 700;
    margin-left: 120px;
    cursor: pointer;
}

.showDetails > img {
    width: 24px;
    color: var(--cyan);
}