/* -- colors + variables -- */
:root {
  --robins-color: #1fc7d4;
  /* margine tra bottoni e testo */
  --margin-top: 10px;
  --margin-left: 30px;
  --social-icons-color: #b8add2;
  --pointer: pointer;
  --hover-color: rgb(31, 199, 212, 0.65);
  --active-color: rgb(31, 199, 212, 0.85);
  --yellow: rgb(255, 178, 55);
  --white: rgb(250, 249, 250);
  --purple: rgb(118, 69, 217);
  --dark-purple: rgb(40, 13, 95);
  --light-purple: rgb(122, 110, 170);
  --cyan: rgb(31, 199, 212);
  --gradient: linear-gradient(139.73deg, rgb(230, 253, 255) 0%, rgb(243, 239, 255) 100%);
}

/* -- generic -- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.box {
  margin: 1rem;
  min-width: 30%;
}

.titles {
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: "Roboto";
}

.wrapper-prediction {
  padding: 2rem;
  background-color: rgb(111, 105, 121);
  min-height: 100vh;
  font-family: Kanit, sans-serif;
}

/* TYPOGRAPHY */
.h1 {
  font-size: 64px;
  font-weight: 600;
  font-family: "Kanit", sans-serif;
}

.h2 {
  font-size: 40px;
  font-weight: 600;
  font-family: "Kanit", sans-serif;
}

.h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Kanit", sans-serif;
}

.h4 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Kanit", sans-serif;
}

.boxprediction h4 {
  margin-top: 20px;
  text-align: center;
  color: rgb(122, 110, 170);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.key-words {
  color: rgb(118, 69, 217);
}

.p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Kanit", sans-serif;
}


/* -- Components -- */
/* sort by field */
.sort-by-container {
  cursor: pointer;
  width: 10rem; /* width change to 100% when in his layout div */
  height: 40px;
  position: relative;
  background-color: rgb(238, 234, 244);
  border-radius: 16px;
  border: 1px solid rgb(215, 202, 236);
  box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
  outline: none;
  color: rgb(40, 13, 95);
  font-size: 1rem;
  font-weight: 400;
  font-family: "Kanit", sans-serif;
  margin-bottom: 13rem; /* da rimuovere appena si aggiunge javascritp */
}

.sort-by-head {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  font-family: "Kanit", sans-serif;
  color: rgb(40, 13, 95);
}

.sort-by-list {
  height: auto;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-color: rgb(238, 234, 244);
  border: 1px solid rgb(215, 202, 236);
  border-radius: 0 0 16px 16px;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 2px,
    rgb(14 14 44 / 10%) 0px 4px 12px -8px;
  overflow: hidden;
  z-index: 10;
}

.sort-by-list li {
  list-style-type: none;
  padding: 8px 16px;
  margin: 0px;
  line-height: 1.5;
  font-family: "Kanit", sans-serif;
}
/*
  transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
  transform: scaleY(0);
  transform-origin: center top;
  opacity: 0;
  transform-origin: center top;
  */

@media screen and (min-width: 576px) {
  .sort-by-field {
    min-width: 168px;
  }
}

/* card leadboard */
.card-leadboard {
  background-color: rgb(231, 227, 235);
  border-radius: 24px;
  padding: 1px 1px 3px;
  max-width: 1150px; /*remove when in is container/layout*/
}

.fake-border {
  border-radius: 24px;
  color: rgb(40, 13, 95);
  overflow: hidden;
  width: 100%;
  background-color: white;
  font-family: "Kanit", sans-serif;
  display: flex;
  max-width: 1150px; /*remove when in is container/layout*/
}

.card-l-column1 {
  background: linear-gradient(
    139.73deg,
    rgb(230, 253, 255) 0%,
    rgb(239, 244, 245) 46.87%,
    rgb(243, 239, 255) 100%
  );
  padding: 16px;
  text-align: center;
  width: 56px;
}

.card-l-column2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px;
}

.card-l-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-l-info div {
  display: flex;
  align-items: center;
  vertical-align: baseline;
}

.icons-leadboard {
  fill: rgb(40, 13, 95);
  margin-right: 8px;
}

.card-l-column2 a {
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  border-radius: 16px;
  font-family: "Kanit", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  outline: 0;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 32px;
  padding: 0px 16px;
  background-color: transparent;
  border: 2px solid rgb(31, 199, 212);
  color: rgb(31, 199, 212);
}

.card-l-column2 a:hover {
  opacity: 0.65;
}

.card-l-column2 div:last-child {
  display: inline-flex;
  align-items: center;
}

.team-members {
  margin-left: 24px;
}

.leadboard-avatar {
  border-radius: 50%;
  overflow: hidden;
  margin-left: 24px;
}

.card-l-info > h3 {
  line-height: 1.1;
  color: rgb(40, 13, 95);
  vertical-align: baseline;
}

.card-l-column1 p {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: rgb(40, 13, 95);
}

.card-l-info p {
  font-size: 1rem;
  color: rgb(122, 110, 170);
  margin-right: 24px;
}

/* card NFT */
.card {
  width: 274px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgb(238 234 244) 0px 0px 5px inset;
  border: 1px solid gray;
  padding: 8px;
}

/* main:hover {} */
.card:hover {
  cursor: pointer;
  opacity: 0.6;
}

/* box che contiene l'immagine  */
.cacti {
  border-radius: 8px;
  max-height: 258px;
  max-width: 258px;
  position: relative;
  width: 100%;
  margin-bottom: 8px;
}

.firstPart {
  max-height: 270px;
}

.cacti img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card .subP {
  font-family: "Kanit";
  font-size: 12px;
  color: rgb(122, 110, 170);
}

.titleCard {
  font-family: "Kanit";
  font-size: 16px;
  color: rgb(40, 13, 95);
  padding-top: 8px;
}

.finalPart {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 65px;
  width: 253px;
  height: 24px;
  color: rgb(122, 110, 170);
  font-family: "Kanit";
  font-size: 12px;
  border-top: 1px solid gray;
  padding: 5px;
  justify-content: space-between;
}

.finalPartRight {
  display: flex;
  align-items: center;
}

.money,
.svg {
  padding-right: 5px;
}

.finalPartRight .svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.finalPartRight .number {
  font-family: "Kanit";
  color: rgb(40, 13, 95);
  font-size: 16px;
}

/* Card IFO */
.card-ifo {
  max-width: 325px;
  background-color: white;
  border-radius: 24px;
  box-shadow: rgb(238, 234, 244) 0px 0px 5px inset;
}

.head {
  min-height: 78px;
  background: linear-gradient(rgb(167, 232, 241) 0%, rgb(148, 225, 242) 100%);
  border-radius: 24px 24px 0px 0px;
  padding: 24px;
}

.containerHead {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(40, 13, 95);
  font-family: "Kanit";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  white-space: nowrap;
}

.title-ifo {
  margin-right: 166px;
}

.middlePart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bunnyQuestionM {
  padding-top: 24px;
  padding-bottom: 12px;
}

.textMiddle p {
  margin-bottom: 23px;
}

.theButton {
  margin-bottom: 30px;
}

.theButton button {
  border-radius: 16px;
  border: 0px;
  font-family: "Kanit";
  font-size: 16px;
  font-weight: 600;
  background-color: var(--robins-color);
  color: white;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  cursor: pointer;
  letter-spacing: 0.03em;
  line-height: 1;
  width: 277px;
  height: 48px;
  opacity: 1;
}

.finalPart-ifo {
  display: flex;
  flex-direction: column;
}

.firstLine-ifo {
  display: flex;
  justify-content: space-around;
  font-family: "Kanit";
  font-size: 14px;
  color: rgb(122, 110, 170);
  margin-bottom: 3px;
}

.secondLine {
  display: flex;
  justify-content: space-around;
  font-family: "Kanit";
  font-size: 14px;
  color: rgb(122, 110, 170);
  margin-bottom: 3px;
}

.thirdLine {
  display: flex;
  justify-content: space-around;
  font-family: "Kanit";
  font-size: 14px;
  color: rgb(122, 110, 170);
  margin-bottom: 3px;
}

.fourthLine {
  display: flex;
  justify-content: space-around;
  font-family: "Kanit";
  font-size: 14px;
  color: rgb(122, 110, 170);
  margin-bottom: 48px;
}

.firstText {
  margin-right: 102px;
}

.secondText {
  margin-right: 24px;
}

.thirdText {
  margin-right: 126px;
}

.fourthText {
  margin-right: 141px;
}

/* Card Info */
.card-info {
  max-width: 568px;
  background-color: white;
  border-radius: 24px;
  box-shadow: rgb(238 234 244) 0px 0px 5px inset;
  padding: 24px;
  font-family: "Kanit";
}

.card-info h4 {
  color: var(--purple);
  font-size: 16px;
  font-weight: 600; 
  line-height: 1.5;
}

.card-info h3 {
  color: var(--dark-purple);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}

.card-info h5 {
  color: var(--dark-purple);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.graphics {
  height: 250px;
}

/* Card Info Tokens */
.card-info-tokens {
  width: 100%;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: white;
  border-radius: 24px;
  border: 1px solid rgb(231, 227, 235);
  font-family: "Kanit";
}

.top-table {
  display: grid;
  gap: 1em;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 24px;
  grid-template-columns: 20px 3fr repeat(4, 1fr);
}

.hashtag {
  color: var(--purple);
  font-weight: 600;
  line-height: 1.5;
  font-size: 12px;
}

.name {
  color: var(--purple);
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 12px;
}

.price {
  color: var(--purple);
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 12px;
}

.price-change {
  color: var(--purple);
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 12px;
}

.volume {
  color: var(--purple);
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 12px;
}

.liquidity {
  color: var(--purple);
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 12px;
}

.line {
  height: 1px;
  background-color: rgb(231, 227, 235);
  width: 100%;
}

.page-of {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 0.2em;
  margin-bottom: 1.2em;
}

.arrow {
  color: var(--cyan);
  padding: 0px 20px;
}

.text-page-of {
  color: var(--dark-purple);
  font-size: 16px;
   font-weight: 400;
  line-height: 1.5;
}


.boxprediction {
  background: rgba(255, 255, 255, 0.6);
  width: 900px;
  height: 580px;
  padding: 16px;
  border: 1px solid rgb(231, 227, 235);
  box-sizing: border-box;

  border-radius: 72px;
}

.titoloh1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.1;
  color: rgb(118, 69, 217);
}

.contenitore {
  display: grid;
  background-color: transparent;
  width: 650px;
  height: 400px;
  margin: 50px 100px 50px 100px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1;
  padding: 16px;
}

.scheda1 {
  display: block;
  position: relative;
  width: 285px;
  height: 350px;
  background-color: rgb(255, 178, 55);
  border-radius: 24px;
  box-shadow: 0px 4px 2px rgba(20, 19, 19, 0.5), 0px 1px 1px rgb(26, 24, 24);
  transform: rotate(-3deg);
}

.scheda1 > img {
  position: absolute;
  right: 25px;
  top: 25px;
}

.scheda2 {
  display: block;
  position: relative;
  width: 285px;
  height: 350px;
  background-color: rgb(60, 23, 134);
  border-radius: 24px;
  box-shadow: 0px 4px 2px rgba(20, 19, 19, 0.5), 0px 1px 1px rgb(26, 24, 24);
  transform: rotate(3deg);
}

.scheda2 > img {
  position: absolute;
  right: 25px;
  top: 25px;
}

.scheda1 > h3 {
  position: absolute;
  top: 80px;
  left: 30px;
  color: rgb(40, 13, 95);
  font-weight: 600;
  line-height: 1.5;
  font-size: 20px;
  font-family: Kanit, sans-serif;
}

.scheda1 > p {
  position: absolute;
  top: 110px;
  left: 30px;
  color: rgb(40, 13, 95);
  font-weight: 700;
  line-height: 1.5;
  font-size: 36px;
  font-family: Kanit, sans-serif;
}

.sottotitolo > p {
  position: absolute;
  top: 210px;
  left: 30px;
  color: rgb(40, 13, 95);

  line-height: 1.5;
  font-size: 16px;
  font-family: Kanit, sans-serif;
}

span {
  position: absolute;
  top: 165px;
  left: 30px;
  color: rgb(40, 13, 95);
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
  font-family: Kanit, sans-serif;
}

.titoletto > p {
  position: absolute;
  top: 210px;
  left: 20px;
  color: rgb(221, 219, 226);

  line-height: 1.5;
  font-size: 16px;
  font-family: Kanit, sans-serif;
}

.scheda2 > h3 {
  position: absolute;
  top: 80px;
  left: 20px;
  color: rgb(221, 219, 226);
  font-weight: 600;
  line-height: 1.5;
  font-size: 20px;
  font-family: Kanit, sans-serif;
}

.scheda2 > p {
  position: absolute;
  top: 110px;
  left: 20px;
  color: rgb(255, 178, 55);
  font-weight: 700;
  line-height: 1.5;
  font-size: 36px;
  font-family: Kanit, sans-serif;
}

.secondospan {
  position: absolute;
  top: 165px;
  left: 20px;
  color: rgb(221, 219, 226);
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
  font-family: Kanit, sans-serif;
}

.buttonLarge {
  border-radius: 16px;
  border: 0px;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--robins-color);
  color: white;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  cursor: var(--pointer);
  letter-spacing: 0.03em;
  line-height: 1;
  width: 240px;
  height: 55px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;
  margin-top: var(--margin-top);
}

.buttonLarge:hover {
  background-color: var(--hover-color);
}

.buttonLarge:active {
  background-color: var(--active-color);
  transform: translateY(1px);
  box-shadow: none;
}