:root {
    --hover-color: rgb(31, 199, 212, 0.65);
    --active-color: rgb(31, 199, 212, 0.85);
    --yellow: rgb(255, 178, 55);
    --white: rgb(250, 249, 250);
    --purple: rgb(118, 69, 217);
    --dark-purple: rgb(40, 13, 95);
    --light-purple: rgb(122, 110, 170);
    --cyan: rgb(31, 199, 212);
    --grey: rgb(239, 244, 245);
    --grey-border: rgb(231, 227, 235);
    --fuksia: rgb(237, 75, 158);
    --gradient: linear-gradient(139.73deg, rgb(230, 253, 255) 0%, rgb(243, 239, 255) 100%);
    --gradient-purple: linear-gradient(rgb(255, 255, 255) 22%, rgb(215, 202, 236) 100%);
}


/* -- GENERIC -- */
* {
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* -- SCROLL BAR --*/
/* width */
::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: rgb(238 234 244) 0px 0px 5px inset;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--light-purple);
    border-radius: 0.5rem;
}

/* -- NAVBAR -- */
/* -- logo -- */
/* eyes animation */
.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-container:hover .left-eye,
.logo-container:hover .right-eye {
    transform-origin: center 60%;
    animation-name: eyes;
    animation-duration: 350ms;
    animation-iteration-count: 1;
}

@keyframes eyes {

    0%,
    100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0.1);
    }
}

/* logo desktop */
.desktop-logo {
    width: 160px;
}

/* logo mobile */
.mobile-logo {
    width: 32px;
}


/* -- nav link -- */
nav {
    background-color: white;
    /*da rimuovere*/
    border-bottom: 1px solid var(--grey-border);
    height: 3.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1rem;
}

/* header left */
.header-left {
    display: flex;
    height: 100%
}

/* link */
.navlink-left {
    display: flex;
    position: relative;
    margin-left: 1.5rem;
}

.dropdown {
    position: relative;
}

.dropbtn {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    cursor: pointer;
}

.dropbtn button {
    height: 100%;
    border: none;
    background-color: transparent;
    color: var(--light-purple);
    font-size: 1rem;
    font-weight: 400;
    padding: 0px 1rem;
    line-height: 1;
}

.dropbtn button:hover {
    background: var(--grey);
    border-radius: 1rem;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid var(--grey-border);
    border-radius: 1rem;
    padding: 0.25rem 0px;
    width: 17.5rem;
    z-index: 10;
    overflow: hidden;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    color: var(--light-purple);
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    white-space: nowrap;
    padding: 0px 1rem;
}

.dropdown-content a:hover {
    background-color: var(--grey);
}

.dropdown-content a:active {
    color: var(--purple);
    opacity: 0.85;
    transform: translateY(1px);
}

.dropdown-content a:link {
    color: var(--light-purple);
}

.dropdown-content a:visited {
    color: var(--light-purple);
}

.dropdown-content hr {
    border-color: var(--grey-border);
    border-style: solid;
    border-width: 1px 0px 0px;
    margin: 0.25rem 0px;
}

.header-right {
    display: flex;
}


/* -- nav right -- */
.header-right {
    display: flex;
    align-items: center;
    height: 100%;
}

.pancakes-link {
    margin-right: 0.75rem;
}

.pancakes-link a {
    display: flex;
    align-items: center;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    color: var(--light-purple);
}

.pancakes-link img {
    margin-right: 0.5rem;
    transition: transform 0.3s ease 0s;
}

.pancakes-link:hover img {
    transform: scale(1.2);
}

.language-container {
    position: relative;
    height: 100%;
    padding: 0px 0.5rem;
    margin-right: 0.5rem;
}

.lang-selector {
    display: none;
    position: absolute;
    width: max-content;
    max-height: 400px;
    padding: 1rem;
    z-index: 99;
    border-radius: 4px;
    box-shadow: rgb(25 19 38 / 10%) 0px 2px 12px -8px, rgb(25 19 38 / 5%) 0px 1px 1px;
    background-color: white;
    overflow-y: auto;
    transform: translate(-50%, 0px);
    left: 50%;
}

.language-container:hover .lang-selector {
    display: block;
}

.lang {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--dark-purple);
    padding: 0px 0.5rem;
    border-radius: 8px;
    width: 100%;
    min-height: 32px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.03em;
    line-height: 1;
    cursor: pointer;
}

.lang:hover {
    opacity: 0.65;
}

.setting {
    margin-right: 0.75rem;
    margin-left: 0.25rem;
}

.button-wallet {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    border: 0px;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--cyan);
    color: white;
    box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
    cursor: pointer;
    letter-spacing: 0.03em;
    line-height: 1;
    height: 32px;
    padding: 0px 1rem;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    white-space: nowrap;
}

.button-wallet:hover {
    background-color: var(--hover-color);
}

.button-wallet:active {
    background-color: var(--active-color);
    transform: translateY(1px);
    box-shadow: none;
}

/* -- UTILITIES -- */
.no-style-button {
    border: none;
    background-color: transparent;
}

.icons-button {
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

.icons-button:hover {
    opacity: 0.65;
}

/* -- RESOPNSIVE -- */
@media screen and (min-width: 967px) {
    .mobile-logo {
        display: none;
    }
}

@media screen and (max-width: 967px) {
    .desktop-logo {
        display: none;
    }
}

@media all and (max-width: 768px) {
    .button-wallet {
        white-space: pre-wrap;
    }

    .navlink-left {
        display: none;
    }

    .pancakes-link {
        display: none;
    }
}

.firstPartNFT {
    background: linear-gradient(139.73deg, rgb(229, 253, 255) 0%, rgb(243, 239, 255) 100%);
    margin-bottom: -20px;
    padding-bottom: 40px;
}

.pageNFTTitle {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
}

.pageNFTTitle h1 {
    font-size: 64px;
    color: rgb(118, 69, 217);
}

.pageNFTTitle h2 {
    font-size: 24px;
    color: rgb(40, 13, 95);
}


.searchFieldNFT {
    border: 1px solid rgb(215, 202, 236);
    outline: 0px;
    border-radius: 16px;
    box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
    background-color: rgb(238, 234, 244);
    color: rgb(122, 110, 170);
    font-size: 1rem;
    height: 40px;
    padding: 0px 16px;
    font-family: "Kanit", sans-serif;
}

.firstPartNFT {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 141px;
    padding-right: 148px;
}

.titleMidNFT {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

}

.titleMidNFT h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1;
    color: rgb(40, 13, 95);
}

.linkMidNFT {
    align-items: center;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    height: 32px;
    padding: 0px 16px;
    background-color: transparent;
    border: 2px solid rgb(31, 199, 212);
    box-shadow: none;
    color: rgb(31, 199, 212);
    text-decoration: none;
}

.linkMidNFT svg {
    align-self: center;
    fill: rgb(31, 199, 212);
    flex-shrink: 0;
    margin-left: 0.5rem;
}

.empty {
    background: none;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.curve {
    width: 100%;
    height: 20px;
    clip-path: url(#topConcaveCurve);
    background: rgb(255, 255, 255);
    transform: translate(0px, 1px);
    border-radius: 8px;
}

.wrapperNFTFather {
    margin-top: 80px;
}

.wrapperNFTSon {
    width: 100%;
    padding-left: 141px;
    padding-right: 148px;
}


/* card con bootstrap prova */

img {
    max-width: 100%;
    height: auto;
}

.card-nft {
    border-radius: 8px 8px 8px 56px;
    box-shadow: rgb(238 234 244) 0px 0px 5px inset;
    background: #fff;
    padding: 1rem;
    position: relative;
}

.card-nft .image img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    border: 3px solid #fff;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.d-flex h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
}

.d-flex span {
    color: var(--light-purple);
    font-weight: 400;
    line-height: 1.5;
    font-size: 12px;
}

.d-flex .mb-0 {
    color: var(--dark-purple);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
}

/* card cactus */

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    width: 274px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgb(238 234 244) 0px 0px 5px inset;
    border: 1px solid gray;
    padding: 8px;
    margin-right: 16px;

}

/* main:hover {} */
.card:hover {
    cursor: pointer;
    opacity: 0.6;
}

/* box che contiene l'immagine  */
.cacti {
    border-radius: 8px;
    max-height: 258px;
    max-width: 258px;
    position: relative;
    width: 100%;
    margin-bottom: 8px;
}

.firstPart {
    max-height: 270px;
}

.cacti img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card .subP {
    font-family: "Kanit";
    font-size: 12px;
    color: rgb(122, 110, 170);
}

.titleCard {
    font-family: "Kanit";
    font-size: 16px;
    color: rgb(40, 13, 95);
    padding-top: 8px;
}

.finalPart {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 65px;
    width: 253px;
    height: 24px;
    color: rgb(122, 110, 170);
    font-family: "Kanit";
    font-size: 12px;
    border-top: 1px solid gray;
    padding: 5px;
    justify-content: space-between;
}

.finalPartRight {
    display: flex;
    align-items: center;
    align-items: baseline;
}

.money,
.svg {
    padding-right: 5px;
}

.finalPartRight .svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.finalPartRight .number {
    font-family: "Kanit";
    color: rgb(40, 13, 95);
    font-size: 16px;
}


/* Tabella momentanea */

.padre {
    background: linear-gradient(111.68deg, rgb(242, 236, 242) 0%, rgb(232, 242, 246) 100%);
    padding: 64px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding-left: 140px; */
}

.figlio {
    background: linear-gradient(111.68deg, rgb(242, 236, 242) 0%, rgb(232, 242, 246) 100%);
    border: 1px solid rgb(231, 227, 235);
    border-radius: 24px 24px 0px 0px;
    padding: 24px;
    width: 886px;
    height: 74px;
}



.scrittaFaqs h2 {
    font-size: 24px;
    color: rgb(118, 69, 217);
}

.contenitoreTabella {
    background: #FFFFFF;
    padding: 24px;
    border: 1px solid rgb(231, 227, 235);
    width: 886px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.primaRiga {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    padding: 24px 0px 24px 0px;
}

.scritta1 {
    color: rgb(40, 13, 95);
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
}

.buttonDetails {
    border: 0px;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.03em;
    line-height: 1;
    height: 48px;
    background-color: transparent;
    color: rgb(31, 199, 212);
    box-shadow: none;
}

.bottone svg {
    fill: rgb(31, 199, 212);
    /*  margin-left: 0.5rem; */
}

.line {
    height: 2px;
    background-color: rgb(231, 227, 235);
    width: 100%;
}

.secondaRiga {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    padding: 24px 0px 24px 0px;
}

.scritta2 {
    color: rgb(40, 13, 95);
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
}

.terzaRiga {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    padding: 24px 0px 24px 0px;
}

.scritta3 {
    color: rgb(40, 13, 95);
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
}

.quartaRiga {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    padding: 24px 0px 24px 0px;
}

.scritta4 {
    color: rgb(40, 13, 95);
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
}