* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kanit";
}

body {
    background-color: violet;
}

main {
    width: 274px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgb(238 234 244) 0px 0px 5px inset;
    border: 1px solid gray;
    padding: 8px;
}

/* main:hover {} */


/* box che contiene l'immagine  */
.cacti {
    border-radius: 8px;
    max-height: 258px;
    max-width: 258px;
    position: relative;
    width: 100%;
    margin-bottom: 8px;
}

.firstPart {
    max-height: 270px;
}

.cacti img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card .subP {
    font-size: 12px;
    color: rgb(122, 110, 170);
}

.titleCard {
    font-size: 16px;
    color: rgb(40, 13, 95);
    padding-top: 8px;
}

.finalPart {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 65px;
    width: 253px;
    height: 24px;
    color: rgb(122, 110, 170);
    font-size: 12px;
    border-top: 1px solid gray;
    padding: 5px;
    justify-content: space-between
}

.finalPartRight {
    display: flex;
    align-items: center;
}

.money,
.svg {
    padding-right: 5px;
}

.finalPartRight .svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.finalPartRight .number {
    color: rgb(40, 13, 95);
    font-size: 16px;

}